header {
    background: #22B2A0;
    color: black;
    padding: 30px;
    font-size: 24pt;

}

body {
    background: #FFDDCE;

}

h2 {
    color: black;
    font-size: 20pt;
    text-indent: 10px;
    font: 'Trajan';
    font-style: oblique;
    font-weight: bold;
    margin: 15px 0px 10px 0px;
    
}

h3 {
    color: black;
    font-size: 18pt;
    text-indent: 10px;
    font: 'Trajan';
    font-style: oblique;
    font-weight: bold;
    margin: 10px 0px;

}

#games {
    color: black;
    font-size: 18pt;
    text-indent: 10px;
    font: 'Trajan';
    font-style: oblique;
    font-weight: bold;
    margin: 15px 400px 25px 450px;

}

p {
    color: black;
    font-size: 16pt;
    text-indent: 15px;
    font-style: 'Helvetica';
    margin: 0px 10px;

}

ul {
    list-style: square outside none;
    margin: 10px 25px;

}

ol {
    list-style: upper-roman outside none;
    margin: 10px 400px 10px 400px;
    float: left;

}

#me {
    margin: 10px 15px 10px;
    float: right

}

#ctrigger {
    height: 7%;
    width: 7%;
    float: left;

}

#metroid {
    height: 10%;
    width: 10%;
    float: left;

}